@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	--cursor-color: #daddeb;
}

.background-image {
	/* background: url(../../public/background.jpg) */
	background: url(../../public/background5.jpg);
	background-attachment: scroll;
	height: 100vh;
	background-size: 3440px;
}

.cover-background {
	background-position: center center;
}

.background-exp {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	/* background: url(../../public/background6.jpg) repeat-y; */
	background: url(../../public/background6.jpg);
	background-size: 100%;
}

.background-gradient {
	/* background: linear-gradient(99.6deg, rgba(0, 0, 0, 0.93) 11.2%, rgb(63, 61, 61) 78.9%); */
	/* background: linear-gradient(135deg, rgb(206, 159, 252) 10%, rgb(115, 103, 240) 100%); */
	/* background: linear-gradient(109.6deg, rgb(218, 185, 252) 11.2%, rgb(125, 89, 252) 91.1%); */
	
	/* background: linear-gradient(99.7deg, rgb(0, 32, 95) 2.8%, rgb(132, 53, 142) 97.8%); */


	/* background: linear-gradient(114.9deg, rgb(34, 34, 34) 8.3%, rgb(0, 40, 60) 41.6%, rgb(0, 143, 213) 93.4%); */

	/* background: linear-gradient(114.9deg, rgb(34, 34, 34) 8.3%, rgb(0, 40, 60) 41.6%, rgb(34, 42, 34) 93.4%); */

	background: linear-gradient(34.9deg, rgb(34, 34, 34) 8.3%, rgb(0, 40, 60) 41.6%, rgb(34, 42, 34) 93.4%);


	/* background: linear-gradient(138deg, rgb(32, 201, 255) 36.7%, rgb(0, 8, 187) 84.4%, rgb(255, 255, 255) 119.7%); */
	/* background: linear-gradient(69.5deg, rgb(40, 48, 68) 2.3%, rgb(1, 179, 201) 97.6%); */


	z-index: -1;
	background-size: 100%;
	height: 125vh;
}

.background-gradient-large {
	background: linear-gradient(34.9deg, rgb(34, 34, 34) 8.3%, rgb(0, 40, 60) 41.6%, rgb(34, 42, 34) 93.4%);
	z-index: 0;
	background-size: 100%;
	height: min-content;
}

.image-carousel {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

/* @media (max-width: 1200px) {
	.image-carousel {
		display: block;
		max-width: 50%;
		height: auto;
		margin-left: auto;
		margin-right: auto;
	}
} */

.carousel-width {
	width: 1050px;
}

@media (max-width: 2000px) {
	.carousel-width {
		width: 750px;
	}
}

.text-shdw {
	text-shadow: #daddeb 1px 0 15px;
}

.text-shdw-act {
	text-shadow: black 1px 0 15px;
}

.text-shdw-sm {
	text-shadow: #ddd 0.5px 0 3.75px;
}

.git-link {
	text-decoration: none;
	color: inherit;
}

.position-footer {
	margin-top: auto;
}

.nav-flex {
	flex-direction: column;
}

/* @media (min-width: 2560px) {
	.nav-flex {
		flex-direction: row;
	}
} */

.nav-top {
	top: 40%;
}

.about-carousel {
	width: 700px;
}

.about-img {
	width: 700px;
}

.project-carousel {
	width: 850px;
}

@media (max-width: 1600px) {
	.nav-hidden {
		display: none;
	}
}

@media (max-width: 1440px) {
	.about-sec {
		flex-direction: column;
		height: max-content;
		margin-bottom: 12rem;
		margin-left: auto;
		margin-right: auto;
	}
	.background-gradient-sec {
		background: linear-gradient(34.9deg, rgb(34, 34, 34) 8.3%, rgb(0, 40, 60) 41.6%, rgb(34, 42, 34) 93.4%);
		z-index: 0;
		background-size: 100%;
		height: min-content;
		margin-left: 0;
		width: 100%;
	}
}

@media (max-width: 1600px) {
	.project-sec {
		/* margin-left: -200px; */
		width: auto;
	}	
}

@media (max-width: 1600px) and (min-width: 1535px) {
	.project-sec {
		margin-left: -200px;
	}
}

@media (max-width: 1535px) {
	.project-text-sec {
		width: 560px;
		margin-left: auto;
		margin-right: auto;
	}
	.project-row-sec {
		width: fit-content;
		margin-left: auto;
		margin-right: auto;
	}
	.project-container-sec {
		width: 850px;
		row-gap: 2rem;
		margin-left: auto;
		margin-right: auto;
	}
	.project-map-sec {
		width: 900px;
	}
	.project-dtl-sec {
		width: 900px;
		margin-left: auto;
		margin-right: auto;
	}
	.project-carousel {
		width: 750px;
	}
}

@media (max-width: 1000px) {
	.project-dtl-sec {
		width: 600px;
		margin-left: auto;
		margin-right: auto;
	}
	.project-sec {
		margin-left: auto;
		margin-right: auto;
	}
}

@media (min-width: 2560px) {
	.project-dtl-sec {
		margin-left: auto;
	}
}